List((
    texture_width: 256,
    texture_height: 558,
    sprites: [
        (
            x: 38,
            y: 47,
            width: 80,
            height: 55,
        ),
        (
            x: 29,
            y: 154,
            width: 82,
            height: 103,
        ),
        (
            x: 142,
            y: 274,
            width: 80,
            height: 109,
        ),
    ],
))