/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
    axes: {
        "movement_forward": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
        "movement_left": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
    },
    actions: {},
)
